body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family:  "Lucida Sans";
    background-color: rgb(19,19);
    overflow-x: hidden;



}

.title{
    font-size: 30px;
    font-weight: 600;
    color: white;
    background-color: rgb(19,19,56);
    width: 100%;
    padding: 20px;
    text-align: center; 
}

.full_body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-input{
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: white;
    padding: 10px 20px;
    border: 1px solid grey;
    margin-right: 20px;
    
}

.form-input:focus{
    background-color: ghostwhite;
}

.search{
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: rgb(19,19,56);
    font-family: "Lucida Sans";
    padding: 10px 20px;
    color: white;
    cursor: pointer;
}

.search_box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

.movie-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*this comes in the javascript*/
.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgb(24,51,59);
    margin: 20px;
    padding: 30px;
    width: 700px;
    border-radius: 5px;
    border: 1px solid grey;
}

.movie-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin: 0px 200px;
    
    
}

.value{
    font-size: 15px;
    width: 200px;
}

.movie-description{
    margin-left: 10px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: rgb(34,56,78);
}

@media(max-width: 600px){
    .cards{
        width: 300px;
        margin: 3px;
    }
    
    .form-input{
        width: 8rem;
    }
}